bin/
lib/
target/
.metadata/
.gradle/
.jazz
*.jar
!gradle/wrapper/*.jar
*.ear.ear
*.class
*.orig
*.log
*.swp
.rtc2git/
.sonarlint/
clientdb.xml
build/
RemoteSystemsTempFiles/
.recommenders/
junit*.properties
*-TestSuites.xml
.project
.settings
.classpath
*reports/tests/*
**/result/*.json
junitreports*.zip

pagila.properties

# eclipse
**/.project
**/.settings
**/.classpath
**/.checkstyle
**/.eclipse-pmd
**/.metadata
**/*.lck

# intellij
**/.idea
